In [3]:
import nltk
from nltk.util import ngrams

def extract_ngrams(data,num):
    n_grams=ngrams(nltk.word_tokenize(data),num)
    return[' '.join(grams)for grams in n_grams]
data='A class is a blueprint for the object.'

print("1-gram:",extract_ngrams(data,1))
print("2-gram:",extract_ngrams(data,2))
print("3-gram:",extract_ngrams(data,3))
print("4-gram:",extract_ngrams(data,4))

1-gram: ['A', 'class', 'is', 'a', 'blueprint', 'for', 'the', 'object', '.']
2-gram: ['A class', 'class is', 'is a', 'a blueprint', 'blueprint for', 'for the', 'the object', 'object .']
3-gram: ['A class is', 'class is a', 'is a blueprint', 'a blueprint for', 'blueprint for the', 'for the object', 'the object .']
4-gram: ['A class is a', 'class is a blueprint', 'is a blueprint for', 'a blueprint for the', 'blueprint for the object', 'for the object .']

In [4]:
from sklearn.feature_extraction.text import CountVectorizer

data = ['This is the first sentence',
'This is the second sentence',
'This is the third sentence']

cv=CountVectorizer(ngram_range=(2,2))
x=cv.fit_transform(data)
print(x.shape)
print(x.toarray())
print()

import pandas as pd
df=pd.DataFrame(x.todense(),columns=cv.get_feature_names())
df

(3, 8)
[[1 1 0 1 0 0 0 1]
 [0 1 1 0 1 0 0 1]
 [0 1 0 0 0 1 1 1]]

,first sentence,is the,second sentence,the first,the second,the third,third sentence,this is
0,1,1,0,1,0,0,0,1
1,0,1,1,0,1,0,0,1
2,0,1,0,0,0,1,1,1

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd

texts={
    "good movie","not a good movie","did not like"
}

tfidf=TfidfVectorizer(ngram_range=(1,2))
features=tfidf.fit_transform(texts)
features.todense()
columns=tfidf.get_feature_names()

a=pd.DataFrame(columns)
a
b=pd.DataFrame(features)
b

                                                   0
0    (0, 3)\t0.5773502691896257\n  (0, 5)\t0.5773...
1    (0, 7)\t0.5493512310263033\n  (0, 6)\t0.4177...
2    (0, 8)\t0.4673509818107163\n  (0, 1)\t0.4673...